.body {
    background-color: rgb(224, 228, 233);
    font-family: Helvetica, Arial, sans-serif;
}

hr {
    width: 5%;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px
}

h1, h2 {
    color: #66BFBF;
}