body {
    margin: 5%;
    background: linear-gradient(315deg,rgb(94, 247, 255), rgb(0, 100, 255));
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Tahoma, Geneva, Verdana, sans-serif, Arial, sans-serif;
}

@media (min-width: 500px) {
    body {
        margin: 5% 20%;
    }
}

hr {
    width: 5%;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px
}

h1, h2 {
    color: rgb(255, 255, 255);
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: gray;
}

a:active {
    color: lightgrey;
}

.head {
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

#handsome_edwin {
    border-radius: 20%;
}